In [8]:
import csv
from datetime import datetime

out = 'null'

with open('log.csv', 'a', newline='', encoding='utf-8') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(['null','null','null','null','null',str(datetime.now())[:19], out])

In [9]:
import pandas as pd
pd.read_csv('log.csv')

   lot1  lot2  lot3  lot4  lot5                 time  lot
0   NaN   NaN   NaN   NaN   NaN  2024-10-28 12:11:57  NaN
1   NaN   NaN   NaN   NaN   NaN  2024-10-28 12:14:17  NaN